@import "style";

:root {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(84.71deg, #3464E0 1.19%, #2955C9 99.81%);
    margin: 0;
    font-family: Russia, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
