//vendor import
@import "vendor/smart-grid";
//general import
@import "fonts/fonts";
@import "general/variables";
@import "general/mixins";
@import "general/rem-calc";
@import "general/scaffolding";

@import "blocks/header/header";
@import "blocks/main/card/card";

@import "blocks/footer/footer";

@import "../../assets/scss/general/rem-calc";

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

