
.card__input {
  background: #FFFFFF;
  border: 1px solid #E4ECFA;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 26px;
  margin: 0 auto;
  display: block;
  &::placeholder {
    color: #c3cad6;
  }

  @media (min-width: 768px) {
    width: 100%;
  }
}


