.card__content {
  padding-top: 184px;
  padding-left: 162px;
  height: 886px;
}

.card__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #444;
  margin: 0 0 14px;
}

.card__descr {
  margin: 0 0 38px;
  font-size: 18px;
  line-height: 26px;
  color: #c3cad6;
}

.card__list {
  margin: 0;
  padding: 0 0 0 8px;
  list-style: none;
}

.card__item {
  display: flex;
  align-items: center;
  margin-bottom: 46px;

  svg {
    margin-right: 24px;
  }
}

.card__itemInfo {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.card_calendar {
  position: relative;
}

.card_calendar_icon {
  position: absolute;
  left: 16.5px;
}

.card__itemTitle {
  color: #444;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 1px;
}

.card__itemDescr {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: #c3cad6;
}

.honor {
  position: absolute;
  right: 305px;
  top: 142px;
}

.iphone {
  position: absolute;
  right: 66px;
  top: 70px;
}

.phone {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}